@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,900;1,400&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,200&family=Rubik:ital@1&family=Ysabeau+Office&display=swap');

:root {
   --dark-color-a: rgb(74, 86, 170);
   --dark-color-b: #6e75a3;
   --light-color: #ffede6;
   --success-color: #e3f3e3;
   --error-color: #880702;
   --primary-color: #200137;
   --secondary-color: #dc2960;
   --tertiary-color: #d78447;
   --quaternary-color: #624560;
   --violet-color: #5e17eb;
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   font-family: 'poppins','Roboto', sans-serif;
   font-size: 16px;
   background: var(--secondary-color);
   margin: 20px;
}

ul {
   list-style: none;
}

a {
   text-decoration: none;
}

.btn {
   cursor: pointer;
   padding: 5px 15px;
   border: none;
   border-radius: 5px;
   background: #203d2a;
   color: rgb(198, 208, 24);
   border: none;
   font-size: 17px;
}

/* Chat Page */
.chat-header .btn {
   cursor: pointer;
   padding: 5px 15px;
   border: none;
   border-radius: 25px;
   background: #b1ebbf;
   color: #6ba8e6;
   border: none;
   font-size: 17px;
}

.chat-container {
   max-width: 1100px;
   margin: 30px auto;
   overflow: hidden;
}

.chat-header {
   background: var(--primary-color);
   color: #fff;
   /* border-top-left-radius: 5px;
   border-top-right-radius: 5px; */
   padding: 15px;
   border-radius: 5px 5px 0px 0px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.chat-header #leave-btn{
   background: var(--secondary-color);
   color: #fff;
   border: none;
   border-radius: 25px;
   padding: 5px 15px;
   font-size: 17px;
   cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: center;

}

.chat-main {
   display: grid;
   grid-template-columns: 1fr 3fr;
}

.chat-sidebar {
   background: var(--primary-color);
   color:#f2f2f2;
   padding: 20px 20px 60px;
   overflow-y: scroll;
}

.chat-sidebar h2 {
   font-size: 20px;
   background: rgba(0, 0, 0, 0.1);
   padding: 10px;
   margin-bottom: 20px;
}

.chat-sidebar h3 {
   margin-bottom: 15px;
}

.chat-sidebar ul li {
   padding: 10px 0;
}

.chat-messages {
   padding: 30px;
   max-height: 500px;
   overflow-y: scroll;
   background: var(--light-color);
   min-height: 68vh;
}

.chat-messages .message {
   padding: 10px;
   margin-bottom: 15px;
   background-color: var(--violet-color);
   border-radius: 5px;
   color: #fff;
   overflow-wrap: break-word;
}

.chat-messages .message .meta {
   font-size: 15px;
   font-weight: bold;
   color: black;
   opacity: 0.7;
   margin-bottom: 7px;
}

.chat-messages .message .meta span {
   color: #fff;
}
.bubble {
   --r: 25px; /* the radius */
   --t: 30px; /* the size of the tail */
   
   max-width: 300px;
   padding: calc(2*var(--r)/3);
   -webkit-mask:  radial-gradient(var(--t) at var(--_d) 0,#0000 98%,#000 102%) 
   var(--_d) 100%/calc(100% - var(--r)) var(--t) no-repeat,
     conic-gradient(at var(--r) var(--r),#000 75%,#0000 0) 
       calc(var(--r)/-2) calc(var(--r)/-2) padding-box, 
     radial-gradient(50% 50%,#000 98%,#0000 101%) 
       0 0/var(--r) var(--r) space padding-box;
   background: linear-gradient(135deg,#fe00fe,#3413c5) border-box;
   color: #fff;
 }
 .left {
   --_d: 0%;
   border-left: var(--t) solid #0000;
   margin-right: var(--t);
   place-self: start;
 }
 .right {
   --_d: 100%;
   border-right: var(--t) solid #0000;
   margin-left: var(--t);
   place-self: end;
   translate: 200px 0px;
 }
 

.chat-form-container {
   padding: 20px 30px;
   background-color: var(--primary-color);
   border-radius: 0 0 5px 5px;
}

textarea:focus,
input:focus {
   outline: none;
}

.chat-form-container input[type='text'] {
   font-size: 16px;
   padding: 0px 20px;
   border: none;
   height: 40px;
   width: 60%;
   background: #d9edf7;
   border-radius: 18px;
}
.chat-form-container .send-button {
   cursor: pointer;
   padding: 10px 30px;
   border: none;
   border-radius: 5px;
   background: var(--secondary-color);
   color: #fff;
   border: none;
   border-radius: 25px;
   border: 2px solid #fff;
   font-size: 17px;
   margin-left: 20px;
}

/* Join Page */
.join-container {
   max-width: 500px;
   margin: 80px auto;
   color: #fff;
}

.join-header {
   text-align: center;
   padding: 20px;
   background: var(--primary-color);
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
}
.join-header h1 {
   font-size: 30px;
   margin-bottom: 20px;
   color: #fff ;
}

.join-main {
   padding: 30px 40px;
   background: var(--quaternary-color)
}

.join-main p {
   margin-bottom: 20px;
}

.join-main .form-control {
   margin-bottom: 20px;
}

.join-main label {
   display: block;
   margin-bottom: 8px;
}

.join-main input[type='text'] {
   font-size: 16px;
   padding: 20px;
   height: 40px;
   border-radius: 5px;
   border: none;
   background: #d9edf7;
   width: 100%;
}

.join-main select {
   font-size: 16px;
   padding: 10px;
   height: 40px;
   width: 100%;
   border: none;
   border-radius: 5px;
   color: #757575;
   background: #d9edf7;
}

.join-main .btn {
   margin-top: 20px;
   width: 30%;
   padding: 10px;
   border: none;
   border: 2px solid var(--secondary-color);
   color: #f2f2f2;
   background: var(--primary-color);
}

@media (max-width: 700px) {
   .chat-main {
      display: block;
   }

   .chat-sidebar {
      display: none;
   }
}

@media only screen and (max-width: 426px) {
   .join-main .btn {
      width: 46%;
      padding: 8px;
   }
}

@media only screen and (max-width: 1138px) {
   .chat-form-container input[type='text'] {
      width: 60%;
   }
}

@media only screen and (max-width: 464px) {
   .chat-form-container input[type='text'] {
      width: 100%;
   }
}


@media only screen and (max-width: 464px) {
   .send-button {
      margin-left: 0px;
      margin-top: 10px;
   }
   .chat-messages {
      min-height: 65vh;
   }
}
